.markdown-section table{
    display: inline-table;
}
.table_flags{
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    
}
.table_flags thead th{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    text-align: center;
    width: 33.3%;
}
.table_flags tbody td{
    text-align: left;
    padding: 12px 15px;
    width: 33.3%;
}


#myInput {
    background-image: url('search.png'); 
    background-position: 5px 6px; 
    background-repeat: no-repeat; 
    background-size: 28px;
    width: 100%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
}

.tabs {
    display: flex;
    flex-wrap: nowrap;
    direction: row;
    margin-top: 15px;
    position: relative;
}
.tab input[type="radio"] { display: none; }
.tab-title {
    background: #009879;
    color: #ffffff;
    padding: 5px 10px; 
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 2px;
    font-size: 17px;    
}
.tab-content {
    position: absolute; 
    left: 0; 
    width: calc(100% - 0px); 
    display: none; 
}
.tab :checked + .tab-title {
    position: relative; 
    color: black;
    background: #ffffff; 
    z-index: 1; 
    box-shadow: inset 0px -1px 0px #009879;
}
.tab :checked ~ .tab-content {
    display: block; 
}
.inactiveMixin {
    content: "";
    position: absolute;
    display: block;
}
.beforeAnimation {
    -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}
.afterAnimation {
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
    -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.toggleWrapper {
    margin: auto;
    padding: 20px;
    width: 55px;
    border: 1px solid lightgray;
    margin-top: 20px;
    border-radius: 5px;
    background: white;
}
.toggleWrapper input.mobileToggle {
    opacity: 0;
    position: absolute;
}
.toggleWrapper input.mobileToggle + label {
    position: relative;
    display: inline-block;
    user-select: none;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-tap-highlight-color: transparent;
    height: 30px;
    width: 50px;
    border: 1px solid #e4e4e4;
    border-radius: 60px;
}
.toggleWrapper input.mobileToggle + label:before {
    content: "";
    position: absolute;
    display: block;
    -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    height: 30px;
    width: 51px;
    top: 0;
    left: 0;
    border-radius: 30px;
}
.toggleWrapper input.mobileToggle + label:after {
    content: "";
    position: absolute;
    display: block;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
    -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    background: whitesmoke;
    height: 28px;
    width: 28px;
    top: 1px;
    left: 0px;
    border-radius: 60px;
}
.toggleWrapper input.mobileToggle:checked + label:before {
    background: #2ecc71;
    -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
    transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}
.toggleWrapper input.mobileToggle:checked + label:after {
    left: 24px;
}
