calibrations
fieldmaps

CMakeLists.txt

jana.conf
eicrecon.root
eicrecon_out.dat
eicrecon_out.root
output.edm4hep.root

*.root
*.dat
*.pdf
run_sim_etarange.sh
*_etarange*.pdf
ddsim_mysteer_etarange.py

edep_plots
energy_thresh_bug

.gitignore
plot_hists.pdf

compare_arches_brycecanyon.C
compare_edep_barak.C
comparePositions.C
datafiles
muons
plothits.C
plots_withoutlayers
run_sim_muons.sh
threshold_study
tracking_geometry.obj
